<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<!-- <string>191843660410-5a5e7u1pb6214rlu7d4ss31thq1dom01.apps.googleusercontent.com</string> -->
	<string>525652105735-i03oaloo749fo24sjrf5ro1ua88a9bht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<!-- <string>com.googleusercontent.apps.191843660410-5a5e7u1pb6214rlu7d4ss31thq1dom01</string> -->
	<string>com.googleusercontent.apps.525652105735-i03oaloo749fo24sjrf5ro1ua88a9bht</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruemura3.minTube</string>
</dict>
</plist>